.aboutimg{
 margin-left: 2%;
 margin-top: 2%;
}
.max-width{
    display: flex;
    flex-wrap: wrap;
}
.about-content{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 700px;
  padding: 0 1.5em;
  font-size: 20px;
  font-weight: 400;
  margin-left: 1em;
  margin-right: 1em;
}